<section class="section">
    <div class="container">
        <h2 class="title">Edit Post</h2>

        <form [formGroup]="itemForm" (ngSubmit)="editPost()">

            <div class="form-group row">
                <label for="title" class="col-sm-3 col-form-label">Post Title</label>
                <div class="col-sm-7">
                    <textarea class="form-control" id="title" name="title" formControlName="title"
                    [(ngModel)]="post.title" rows="3"></textarea>

                    <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                        <div *ngIf="title.errors.required">Enter post title</div>
                    </div>
                </div>
            </div>

            <!-- description -->
            <div class="form-group row">
                <label for="body" class="col-sm-3 col-form-label">Post Body</label>
                <div class="col-sm-7">
                    <textarea class="form-control" id="body" name="body" formControlName="body"  [(ngModel)]="post.body"
                        rows="3"></textarea>

                    <div *ngIf="body.invalid && (body.dirty || body.touched)" class="alert alert-danger">
                        <div *ngIf="body.errors.required">Enter post body</div>
                    </div>

                </div>
            </div>
            <!-- submit btn -->
            <div class="form-group row">
                <div class="col-md-4 offset-md-6 mt-4"><button type="submit" class="btn"
                        [disabled]="!itemForm.valid">Submit</button></div>
            </div>
        </form>
    </div>
</section>