<section class="section">
    <div class="container">
        <div class="flex_div">
            <h2 class="title">User Posts</h2>

            <select class="form-select select_div" aria-label="Default select example" [(ngModel)]="paginateValue"
                (change)="paginateChange(paginateValue)">
                <option selected>page Size</option>
                <option value="1">5</option>
                <option value="2">10</option>
                <option value="3">15</option>
            </select>
        </div>
        <div class="card" *ngFor="let post of posts" (click)="toDetails(post.id)">
            <div>
                <h6>{{post.title}}</h6>
            </div>

            <p>{{post.body}}</p>
        </div>

    </div>
</section>