.section {
    margin: 60px auto;
    width: 80%;
    h2 {
      font-size: 30px;
      font-weight: bold;
      color: #0c1f39;
      margin-bottom: 40px;
    }

    .flex_div{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .select_div{
        width: 100px;
      }
    }
  }
  .card {
    border: 1px solid #00000029;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px auto;
    cursor: pointer;
    h6 {
      font-size: 18px;
      font-weight: 600;
      color: #0c1f39;
    }
    p {
      font-size: 14px;
    }
  }
  