.section {
  width: 80%;
  margin: 60px auto;
}
.subtitle {
  font-size: 30px;
  font-weight: bold;
  color: #0c1f39;
  margin-top: 40px;
  margin-bottom: 40px;
}

  .card {
    border: 1px solid #00000029;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px auto;
    cursor: pointer;
    h6 {
      font-size: 18px;
      font-weight: 600;
      color: #0c1f39;
    }
    p {
      font-size: 14px;
    }

  }

  .comment_card {
    position: relative;

    h6 {
      font-size: 18px;
      font-weight: 600;
      color: #0c1f39;

      .spn {
        font-weight: 300;
        font-size: 16px;
      }
    }
    p {
      font-size: 14px;
    }
  }

