<section class="section">
    <div class="container">
        <h2 class="title">User Post</h2>

        <div class="card">
            <div>
                <h6>{{post.title}}</h6>
            </div>

            <p>{{post.body}}</p>

            <button type="button" class="btn" (click)="toEdit()">Edit Post</button>
        </div>

        <div *ngIf="comments && comments.length > 1">
            <h3 class="subtitle">Comments</h3>

            <div class="comment_card" *ngFor="let comment of comments; let index = index">
                <div>
                    <h6>{{comment.name}} <span class="spn">{{comment.email}}</span></h6>
                </div>
                <p>{{comment.body}}</p>
                <hr *ngIf="index != comments.length -1" />
            </div>
        </div>
    </div>
</section>