/* You can add global styles to this file, and also import other style files */

.btn {
    background-color: #0c1f39;
    border: 0px;
    border-radius: 10px;
    height: 40px;
    color: #fff;
    font-size: 14px;
    width: 118px;

    &:hover{
        color: #fff;
    }
  }

  .title {
    font-size: 30px;
    font-weight: bold;
    color: #0c1f39;
    margin-bottom: 40px;
  }